.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8rem 12rem;
}

.left_title {
  position: relative;
  width: 50%;
  text-align: left;
  align-self: flex-start;
}
.left_title::before {
  content: "";
  position: absolute;
  top: -9rem;
  left: -5rem;
  z-index: -1;
  width: 20rem;
  height: 20rem;
  border: 3rem solid #ebf9f2;
  border-radius: 50%;
}
.title {
  font-weight: 600;
  font-size: 5rem;
}
.right_content {
  position: relative;
  width: 50%;
}
.right_content {
  margin-left: 3rem;
}
.description {
  font-size: 1.6rem;
  line-height: 2em;
}
.compare_panel {
  width: 100%;
  height: auto;
  padding: 5rem 5rem;
}
.container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 518.75px;
  overflow: hidden;
  display: block;
}
.right_image {
  clip: rect(auto, auto, auto, 70px);
  display: block;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.left_image {
  clip: rect(auto, 70px, auto, auto);
  display: block;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.line_container {
  align-items: center;
  cursor: ew-resize;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 40px;
}
.line-up {
  background: rgb(58, 194, 128);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  flex: 0 1 auto;
  height: 100%;
  width: 2px;
}
.arrow {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  height: auto;
  justify-content: center;
  width: auto;
}
.line-down {
  background: rgb(58, 194, 128);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  flex: 0 1 auto;
  height: 100%;
  width: 2px;
}
.resize_sensor {
  pointer-events: none;
  position: absolute;
  inset: 0px;
  overflow: hidden;
  z-index: -1;
  visibility: hidden;
  max-width: 100%;
}
.resize_sensor_expand {
  pointer-events: none;
  position: absolute;
  inset: 0px;
  overflow: hidden;
  z-index: -1;
  visibility: hidden;
  max-width: 100%;
}
.box {
  position: absolute;
  left: 0px;
  top: 0px;
  transition: all 0s ease 0s;
  width: 840px;
  height: 529px;
}
.resize_sensor_shrink {
  pointer-events: none;
  position: absolute;
  inset: 0px;
  overflow: hidden;
  z-index: -1;
  visibility: hidden;
  max-width: 100%;
}
.box2 {
  position: absolute;
  left: 0px;
  top: 0px;
  transition: all 0s ease 0s;
  width: 200%;
  height: 200%;
}
@media (max-width: 1199px) {
  .section {
    width: 100%;
    align-items: center;
  }
  .left_title::before {
    margin-top: 3rem;
  }
  .title {
    font-size: 4rem;
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    padding: 6rem 4rem;
  }
  .left_title {
    width: 100%;
    margin: 10rem 0rem;
    text-align: center;
  }
  .title {
    font-size: 3rem;
    font-weight: 400;
  }
  .left_title::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .right_content {
    width: 100%;
  }
}
