.structure{
    width: 100%;
    min-height: 100vh;
    padding: 10rem 5rem;
}

.structure .heading{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure .heading h1{
    font-size: 5em;
    color: #222;
    font-weight: 400;
}

.structure .heading::before{
    content: '';
    position: absolute;
    width: 20rem;
    height: 20rem;
    border: 4rem solid #EBF9F2;
    border-radius: 50%;
    z-index: -3;
}
.structure .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.structure .content .contentBx{
    width: 100%;
    display: grid;
    place-items: center;
}

.structure .content .contentBx p{
    max-width: 70rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2em;
    color: #568193;
    font-weight: 400;
}


.structure .content .cardBx{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: row wrap;
    margin-top: 10rem;
}

.structure .content .cardBx .card{
    width: 45%;
    height: 55rem;
    margin: 2rem;
    border-radius: .8rem;
    background-color: #F2F6F7;

}

.structure .content .cardBx .card .card-header{
    border-radius: .8rem;
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3AC280;
}

.structure .content .cardBx .card .card-header2{
    background-color: #0A5169;
}


.structure .content .cardBx .card .card-header h1{
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
}

.structure .content .cardBx .card .card-header .icon{
    font-size: 4rem;
    color: #fff;
    cursor: pointer;

}

.structure .content .cardBx .card .card-body{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.structure .content .cardBx .card .card-body h1{
    font-size: 4rem;
    font-weight: bold;
    color: #0A5169;

}

.structure .content .cardBx .card .card-body .properties{
    margin-top: 3rem;
}


.structure .content .cardBx .card .card-body .properties p{
    font-size:  1.3rem; 
    color: #111;
    font-weight: 600;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.structure .content .cardBx .card .card-body .properties p .check{
    margin-right: .5rem;
    font-size: 2rem !important;
    color: #3AC280;

}




.structure .content .cardBx .card .card-body h2{
    color: #0A5169;
    margin-top:40%;
    font-size: 3rem;
    font-weight: bold;
}

.structure .content .cardBx .card .card-body2 h2{
    margin-top: 5rem;
}


@media (max-width : 930px) {
    .structure .content .cardBx{
        flex-direction: column;
    }

    .structure .content .cardBx .card{
        width: 80%;
    }
    
}

@media (max-width : 450px) {
    .structure{
        padding: 8rem 4rem;

    }
    
}