.work{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 10rem 6rem;
    background-color: #F2F6F7;

}

.work .heading{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}


.work .heading::before{
    content: '';
    position: absolute;
    width: 20rem;
    height: 20rem;
    border: 4rem solid #E0F1EB;
    border-radius: 50%;
    z-index: -3;
}


.work .heading h1{
    font-size: 5rem;
    font-weight: 400;
}


.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content .box {
    width: 30rem;
    height: 20rem;
    padding: 2rem;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .box .number{
    position: relative;
    margin: 0 1rem;
    align-self: flex-end;
    z-index: 10;
}

.content .box .number::before{
    content: '';
    position: absolute;
    top: 4rem;
    left: -.3rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #DFF1EB;
    z-index: -3;
}

.content .box .number h1{
    font-size: 10rem;
    color: #0A5169;
}

.content .box .contentBx{
    margin-bottom: 5rem;
    align-self: flex-start;
}

.content .box .contentBx p{
    font-size: 1.1rem;
    color: #222;
    line-height: 2em;
}

.work .btn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin: 5rem auto;
    padding: 1rem 3rem;
    outline: none;
    border: none;
    background-color:#3AC280;
    color: #fff;
    border-radius: 5rem;
    transform: 250ms;
}
.work .btn:hover{
    color: #000;
}
/* .content */


@media (max-width :  991px) {
    .work{
        padding: 10rem 4rem;
    }
    .work .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .work .content .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2rem 0;
        margin-top: 0;
    }


    .content .box .contentBx{
        align-self: center;
    }
    .content .box .number{
        align-self: center;
        margin-bottom: 3rem;
    }

    
}


@media (max-width :  450px){
    .work .content .box{
        flex-direction: column;
    }
    .work{
        padding: 6rem 1rem;
    }


}